*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.app-header{
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 25px;
    background-color: #121212;
    border-radius: 30px;
    box-shadow: 6px 6px 20px #070707,
    -6px -6px 15px #1E1E2E;

}

#app-logo{
    width: 60px;
    height: 60px;
}

#app-title{
    color: #e6e6e6;
    font-size: 50px;
}

.input-form-container{
    width: 450px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    gap: 25px;
    background-color: #121212;
    border-radius: 50px;
    box-shadow: 6px 6px 30px #070707,
    -6px -6px 15px #1E1E2E;
}

#input-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#input{
    outline: none;
    background-color: transparent;
    border: none;
    height: 40px;
    width: 250px;
    border: 2px solid transparent;
    color: #fff;
    font-size: 20px;
    border-radius: 8px;
    padding: 5px;
    transition: border-color 0.3s;
}

#input:hover{
    border-color: #646cff;
}

#input:focus{
    border-color: #646cff;
}
